%p#notice= notice
%h1 Drink Users
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @drink_users.each do |drink_user|
      %tr
        %td= link_to 'Show', drink_user
        %td= link_to 'Edit', edit_drink_user_path(drink_user)
        %td= link_to 'Destroy', drink_user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Drink User', new_drink_user_path
